PORT=3000

NODE_ENV=development

DATABASE_URL="mysql://user:password@localhost:3306/dbname"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME="anumi"

INITIAL_ADMIN_USERNAME="anumiadmin"
INITIAL_ADMIN_EMAIL="anumiadmin@example.com"
INITIAL_ADMIN_PASSWORD="anumiadmin123!"

JWT_SECRET="0528eb25cc0f8ab24709fd7bbb95ee5ad530b6a5d861673b3fb48c2d8ec07d9233cb8e3681dded6190cc1d366efc6fbaadd843f6f61780c7e915fe7807adce1b"
JWT_EXPIRATION="1h"

FRONTEND_URL="http://localhost:3000"

MAIL_PROVIDER=smtp

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=example@gmail.com
SMTP_PASSWORD=

RESEND_API_KEY=
MAIL_FROM_NAME=Anumi
MAIL_FROM_ADDRESS=example@gmail.com